.notification {
  font-weight: bold;
  border: solid 1px gray;
  border-radius: 8px;
  position: absolute;
  padding: 16px;
  box-shadow: 5px 3px 3px grey;
}

.notification.success {
  background-color: rgb(194, 255, 194);
}

.notification.error {
  background-color: rgb(149, 117, 117);
}
